.Singup {
    text-align: center;
    padding-top: 30px;
}

.singup-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    background-color: #f5f5f5;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 0 40px 0;
}

.singupTitle {
    font-size: 25px;
    margin-bottom: 20px;
}

.Singup input {
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 15px;
    border: solid 1px;
    border-color: rgba(var(--pure-material-onsurface-rgb, 160, 160, 160), 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 10px;
}

.singup-input {
    display: grid;
    grid-template-columns: 350px 350px;
    margin-left: auto;
    margin-right: auto;
}

.singup-input input {
    width: 300px;
    margin: 10px;
}

.singup-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.accept {
    display: flex;
}

.accept input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}